@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 18 100% 95%;
    --foreground: 18 5% 0%;
    --card: 18 50% 90%;
    --card-foreground: 18 5% 10%;
    --popover: 18 100% 95%;
    --popover-foreground: 18 100% 0%;
    --primary: 18 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -20 30% 85%;
    --muted-foreground: 18 5% 35%;
    --accent: -20 30% 80%;
    --accent-foreground: 18 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 18 5% 90%;
    --border: 18 30% 50%;
    --input: 18 30% 18%;
    --ring: 18 88% 58%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 18 50% 5%;
    --foreground: 18 5% 90%;
    --card: 18 50% 0%;
    --card-foreground: 18 5% 90%;
    --popover: 18 50% 5%;
    --popover-foreground: 18 5% 90%;
    --primary: 18 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -20 30% 15%;
    --muted-foreground: 18 5% 60%;
    --accent: -20 30% 15%;
    --accent-foreground: 18 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 18 5% 90%;
    --border: 18 30% 18%;
    --input: 18 30% 18%;
    --ring: 18 88% 58%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}