{
  email michael@peoplematter.app
  acme_dns cloudflare secret-key
}

*.curate.memorial {
  tls {
    dns cloudflare secret-key
  }

  reverse_proxy /api/* server:3001

  reverse_proxy /api/_nuxt_icon/* client:3000

  reverse_proxy client:3000
}